{% extends "base.html" %}

{% block main %}
  <div class="train1">
    <ul>
      <li>
        <span> 2012 </span>
        <div>
          <a href="mavericTrek.html" target="_blank"> Maveric Himalayan Expedition </a>
          <a href="https://www.youtube.com/watch?v=bWlhHzEJ1WM" target="_blank"> My Himalayan Expedition Video Experiment </a>
          <a href="kickBallKissCup.html" target="_blank"> Kick the Ball & Kiss the Cup </a>
        </div>
      </li>
      <li>
        <span> 2013 </span>
        <div>
          <a href="mavericBookReview.html" target="_blank"> The Difficulty Of Being Good (Book Review) </a>
        </div>
      </li>
      <li>
        <span> 2014 </span>
        <div>
          <a href="stickySituation.html">Sticky Situations</a>
          <a href="https://utdmercury.com/sticky-situations/" target="_blank">Sticky Situations (Published)</a>
          <a href="krishnaLunches.html">Vedic Lunches</a>
          <a href="https://utdmercury.com/vedic-org-brings-vegetarian-lunches/" target="_blank">Vedic Lunches (Published)</a>
        </div>
      </li>
    </ul>
  </div>

{% endblock %}
